.prising-table{
    border: 2px solid ;
    margin: auto;
    width: 30%;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    align-items: center;
    background-color: aqua;
}
.quyow{
    width: 150px;
}